.autocomplete-input {
	width: 500px;

	.search-input {
		@include input-field();

		width: 100%;
	}

	.results-container {
		@include shadow();

		max-height: 500px;
		overflow: auto;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;

		.result {
			border-bottom: 1px solid $xlight-grey;
			min-width: 500px;
			background-color: $white;
			padding: 15px;
			cursor: pointer;

			&.selected {
				background-color: $superlight-grey;
			}

			.title {
				font-size: 1.2em;
				margin-bottom: 5px;
			}

			.highlight {
				color: $green;
			}

			.description {
				color: $blue;
				font-size: .8em;
			}
		}
	}
}
