@import './styling/vars';
@import './styling/common';

@import './pages/main';

body {
	font-size: 14;
	font-family: sans-serif;
	color: $main-grey;
	background-color: $green;
	position: relative;
}

footer {
	position: fixed;
	bottom: 0;
	color: rgba($main-grey, .3);
	font-size: 14px;
}
